* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-touch-action: none;
}

body, ul, li {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 12px;
  font-family: ubuntu, helvetica, arial;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
  display: flex;
  border: 1px solid #ddd;
  font-size: 128px;

  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
}

.items {
  background: #ababab;
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;


  transform: translateX(-320px);
}

.item {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: rgb(255, 99, 132);
}

.item .calendar-body {
  transition: all .3s ease-in-out;
}

.item.changing .calendar-body,
.item:last-child .calendar-body,
.item:first-child .calendar-body{
  /*opacity: .9;*/
  background: rgba(255, 255, 255, .9);
  transition: none;
}


